:root {
--text: #1d1111;
--background: #ffffff;
--primary: #539393;
--secondary: #c8d4e0;
--accent: #4f8c6e;
}

.App {
  text-align: center;
  color: var(--text);
  background-color: var(--background)
}

h1, h2, h3 {
  background-color: var(--primary);
  margin: 0;
  height: 50px;
  vertical-align: center;
}



.button {
  color: var(--accent);
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.past-feedback {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.past-responses {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
