:root {
--text: #1d1111;
--background: #ffffff;
--primary: #539393;
--secondary: #c8d4e0;
--accent: #4f8c6e;
--darkAccent: #3f7058;
}


.App {
  text-align: center;
  color: var(--text);
  background-color: var(--background);
}

.login {
  height: 100%;
  position: absolute;
}

.login-body {
  overflow: hidden;
  background-image: linear-gradient(to right, var(--secondary), white);
}

.header {
  background-color: var(--primary);
  margin: 0;
  border: 0;
  padding: 0;
  height: 75px;
}

.logout-button {
  float: right;
  margin-right: 5px;
  margin-top: 15px;
  width: auto;
  background-color: var(--background);
  border: 1px solid black;
  color: var(--text);
  text-align: center;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: var(--secondary);
}

h1 {
  display: inline-block;
  text-align: left;
  margin: 3%;
  width: auto;
  color: var(--background);
  text-shadow: 1px 0 0 var(--text), 0 -1px 0 var(--text), 0 1px 0 var(--text), -1px 0 0 var(--text);

}

h2, h3 {
  background-color: var(--primary);
  margin: 0;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

p:hover {
  color: var(--accent);
}

.no-hover:hover {
  color: var(--text);
}

.button {
  background-color: var(--accent);
  border: 1px solid var(--text);
  border-radius: 8px;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.button:hover {
  background-color: var(--darkAccent);
}

.button-signup {
  background-color: var(--primary);
  border: none;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.cancel {
  background-color: var(--background);
  border: none;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.page-body {
  margin: 1em;
}

.past-feedback {
  width: 48%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}

.past-responses {
  width: 48%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}

.feedback {
  height: 500px;
  margin: 1%;
  overflow-y: auto;
}

.responses {
  height: 500px;
  margin: 1%;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.header-home {
  background-color: var(--primary);
  margin: 0;
  border: 0;
  padding: 0;
  height: 75px;
}

.header-title {
  width: 75%;
  display: inline-block;
  text-align: left;
}

.header-child {
  width: 25%;
  display: inline-block;
  text-align: right;
}

h4 {
  padding: 0;
  margin: 0;
  margin-left: 3%;
  margin-top: 3%;
  width: 40%;
  height: 50vw;
  text-align: left;
  vertical-align: middle;
  color: var(--background);
  font-size: 40px;
  text-shadow: 1px 0 0 var(--text), 0 -1px 0 var(--text), 0 1px 0 var(--text), -1px 0 0 var(--text);

}