:root {
--text: #1d1111;
--background: #ffffff;
--primary: #539393;
--secondary: #c8d4e0;
--accent: #4f8c6e;
}

.App {
  text-align: center;
  color: var(--text);
  background-color: var(--background)
}

.login {
  background-color: var(--secondary);
}

h1, h3 {
  background-color: var(--primary);
  margin: 0;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

h4 {
  padding: 0;
  margin: 0;
  height: 250px;
  text-align: center;
  vertical-align: middle;
}

.button {
  background-color: var(--accent);
  border: none;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.button-signup {
  background-color: var(--primary);
  border: none;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.cancel {
  background-color: var(--background);
  border: none;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.past-feedback {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.past-responses {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
